<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Support Hub - Admin Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/styles/user-ticket.css">
    <link rel="stylesheet" href="public/styles/admin.css">
    <script type="module">
        import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.esm.browser.js';
        window.Vue = Vue; // Make Vue globally accessible
    </script>
    <script src="/socket.io/socket.io.js"></script> <!-- Add this line -->
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Back to Home Page</a>
    </nav>

    <div class="container mt-4" id="admin-app">
        <h2>Admin Dashboard</h2>

        <!-- Filter Toggle Button -->
        <button class="btn btn-third mb-3" @click="toggleFilterPanel">
            {{ showFilters ? 'Hide Filters' : 'Show Filters' }}
        </button>

        <!-- Filter Search Panel -->
        <div v-if="showFilters" class="card mb-3">
            <div class="card-header">
                Filter Search Panel
            </div>
            <div class="card-body">
                <div class="row row-secondary">
                    <div class="col-md-4 form-group">
                        <label for="searchId">Search by ID:</label>
                        <input type="text" id="searchId" v-model="searchId" class="form-control"
                            placeholder="Enter ID to search">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="searchUsername">Search by Username:</label>
                        <input type="text" id="searchUsername" v-model="searchUsername" class="form-control"
                            placeholder="Enter Username to search">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="filterEngineer">Filter by Engineer:</label>
                        <select id="filterEngineer" v-model="filterEngineer" class="form-control">
                            <option value="">All</option>
                            <option value="Jack">Jack</option>
                            <option value="Sean">Sean</option>
                            <option value="Nik">Nik</option>
                            <option value="Sean + Jack">Sean + Jack</option>
                            <option value="Nik + Sean">Nik + Sean</option>
                            <option value="Full Squad">Full Squad</option>
                        </select>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="filterStatus">Filter by Status:</label>
                        <select id="filterStatus" v-model="filterStatus" class="form-control">
                            <option value="">All</option>
                            <option value="Open">Open</option>
                            <option value="In Progress">In Progress</option>
                            <option value="Completed">Completed</option>
                        </select>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="startDate">Start Date:</label>
                        <input type="date" id="startDate" v-model="startDate" class="form-control">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="endDate">End Date:</label>
                        <input type="date" id="endDate" v-model="endDate" class="form-control">
                    </div>
                    <div class="col-md-4 form-check">
                        <input class="form-check-input" type="checkbox" id="hasScreenshots" v-model="hasScreenshots">
                        <label class="form-check-label" for="hasScreenshots">Only Show Queries with Screenshots</label>
                    </div>
                </div>
            </div>
        </div>

        <button @click="toggleSortOrder" class="btn btn-third mb-3">
            Toggle Sort Order ({{ sortOrder === 'asc' ? 'Oldest First' : 'Newest First' }})
        </button>

        <button @click="saveAllChanges"  class="btn btn-third mb-3">Save All</button>
        
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th v-if="visibleColumns.id">ID</th>
                        <th v-if="visibleColumns.user">User</th>
                        <th v-if="visibleColumns.timestamp">Timestamp</th>
                        <th v-if="visibleColumns.detail">Detail</th>
                        <th v-if="visibleColumns.screenshots">Screenshots</th>
                        <th v-if="visibleColumns.engineer">Engineer</th>
                        <th v-if="visibleColumns.status">Status</th>
                        <th v-if="visibleColumns.resolvement">Resolvement</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="query in sortedQueries" :key="query.id">
                        <td v-if="visibleColumns.id" data-label="ID">{{ query.id }}</td>
                        <td v-if="visibleColumns.user" data-label="User">{{ query.user }}</td>
                        <td v-if="visibleColumns.timestamp" data-label="Timestamp">{{ formatTimestamp(query.timestamp) }}</td>
                        <td v-if="visibleColumns.detail" data-label="Detail">{{ query.detail }}</td>
                        <td data-label="Screenshots">
                            <!-- Screenshot code here -->
                        </td>
                    
                        <!-- Engineer Column with Smaller Width -->
                        <td v-if="visibleColumns.engineer" data-label="Engineer" style="width: 100px;">
                            <select v-model="tempQueries[query.id].engineer" class="form-control">
                                <option disabled value="">Select Engineer</option>
                                <option value="Jack">Jack</option>
                                <option value="Sean">Sean</option>
                                <option value="Nik">Nik</option>
                                <option value="Sean + Jack">Sean + Jack</option>
                                <option value="Nik + Sean">Nik + Sean</option>
                                <option value="Nik + Jack">Nik + Jack</option>
                                <option value="Full Squad">Full Squad</option>
                            </select>
                        </td>
                    
                        <!-- Status Column with Conditional Styling -->
                        <td v-if="visibleColumns.status" 
                            :class="{
                                'status-open': tempQueries[query.id].status === 'Open',
                                'status-inprogress': tempQueries[query.id].status === 'In Progress',
                                'status-completed': tempQueries[query.id].status === 'Completed',
                                'status-withdrawn': tempQueries[query.id].status === 'Withdrawn'
                            }" 
                            @click="updateStatus(query)">
                            {{ tempQueries[query.id].status }}
                        </td>
                    
                        <!-- Resolvement Column with Larger Textarea for Mobile -->
                        <td v-if="visibleColumns.resolvement" data-label="Resolvement">
                            <textarea v-model="tempQueries[query.id].resolvement"
                                      @input="adjustTextareaHeight" class="resolvement-input"
                                      style="resize: none; overflow-y: auto; max-height: 300px; width: 100%;"
                                      placeholder="Enter resolvement detail"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="module" src="public/js/admin-app.js"></script>
</body>

</html>